{{- define "main" -}}

<h1>{{ .Title | markdownify }}</h1>

{{ with .Params.description }}
<h3 class="article-subtitle">
  {{ . }}
</h3>
{{ end }}

<p>
  <small class="text-secondary">
  {{ $customDateFormat := "January 2, 2006" }}
  {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
  {{ .PublishDate.Format $customDateFormat }}{{ if gt .Lastmod .PublishDate }}, updated {{ .Lastmod.Format $customDateFormat }}{{ end }}
  </small>
  {{ partial "tags" . }}
</p>

<div class="table-of-contents">
  <h5><b>CONTENTS</b></h5>
  {{ .TableOfContents }}
</div>

{{ .Content }}
{{ partial "about.html" . }}
{{ partial "giscus.html" . }}

{{ $tocJs := "js/toc.js" -}}
<script src="{{ $tocJs | absURL }}"></script>

{{- end -}}
