<div class="separator"></div>
<br>
<div class="media">
  <div class="media-left">
    {{ $authorPng := "author.png" }}
    <img class="media-object" src="{{ $authorPng | absURL }}">
  </div>
  <div class="media-body">
    <h4 class="media-heading">The author behind this post</h4>
    I'm a software developer working full time at [redacted] and studying part time, as well as working on a compiler project (which hopefully will be finished this year for sure) on the side and gathering ideas for the next project involving VR/AR. I've got a keen interest in modern C++17 (and up) and Linux. I'm available for collaborations on projects (pls no webshit). Don't hesitate to shoot me an email at
    <div class="email">
      $ echo dGF1dHZ5ZGFzNzQ5QGdtYWlsLmNvbQ== | base64 -d
    </div>
  </div>
</div>
