<div class="separator"></div>
<br>
<div class="media">
  <div class="media-left">
    <img src="{{ .Site.Params.selfieAuthor | absURL }}" alt="selfie" class="mr-3 mt-3 rounded-circle" style="border: 2px solid black; border-radius: 50%;">
  </div>
  <div class="media-body">
    <h4 class="media-heading">The author behind this post</h4>
      {{ with .Site.Params.aboutAuthor }}{{ . }}{{ end }}
    <div class="email">
      {{ with .Site.Params.emailAuthor }}{{ . }}{{ end }}
    </div>
  </div>
</div>
