<script type="application/javascript">
  countDownDate = new Date("2021-12-23");
  var x = setInterval(function() {
      var now = new Date().getTime();
      var distance = now - countDownDate.getTime();
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      document.getElementById("demo").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
  }, 1000);
</script>

<footer class="footer">
  <span>
    Blog is running for <tag id="demo"></tag><p>
    Copyright © {{ now.Year }} 
    <a href="https://github.com/belijzajac" target="_blank" rel="noopener">belijzajac</a>
  </span>
</footer>
