<script type="application/javascript">
  countDownDate = new Date("{{site.Params.websiteRunningSince}}");
  var x = setInterval(function() {
      var now = new Date().getTime();
      var distance = now - countDownDate.getTime();
      var years = Math.floor(distance / (365 * 1000 * 60 * 60 * 24));
      var days = Math.floor(distance / (1000 * 60 * 60 * 24) - (years > 0 ? 365 * years : 0));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      document.getElementById("demo").innerHTML = (years > 0 ? years + "y " : '') + days + "d " + hours + "h " + minutes + "m " + (seconds > 9 ? seconds : '0' + seconds) + "s ";
  }, 1000);
</script>

<footer class="footer">
  <span>
    Website is running for <tag id="demo"></tag><br>
    Copyright © {{ now.Year }} 
    <a href="https://github.com/belijzajac" target="_blank" rel="noopener">belijzajac</a>
    | <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener">CC BY-NC-SA 4.0</a>
  </span>
</footer>

<br>
