<style>

/* -------- begin table of contents -------- */

.table-of-contents {
  position: sticky;
  top: 2em;
  margin-right: -380px;
  width: 320px;
  font-size: 0.90em;
  float: right;
  padding-top: 15px;
  padding-left: 15px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background: #e0dedd;
  font-size: 1rem;
  box-shadow: 1px 1px 2px rgba(0,0,0,.125);
  word-wrap: break-word;
  box-sizing: border-box;  
}

.table-of-contents ul {
  list-style: none;
  line-height: 2;
  padding-left: 15px;
}

.table-of-contents ul ul {
  margin-bottom: 0;
}

.table-of-contents ul li ul {
  line-height: 1.66;
}

.table-of-contents a {
  color: var(--text-light);
}

.table-of-contents a:hover {
  color: var(--text-darkish);
}

@media screen and (max-width: 1500px) {
  .table-of-contents {
    display: none;
  }
}

.table-of-contents li.active > a {
  color: #454545;
  font-weight: 850;
}

.table-of-contents a {
  transition: all 100ms ease-in-out;
}

/* -------- end table of contents -------- */

.article-subtitle {
  font-weight: normal;
  font-size: 1.2rem;
  background: #eaeaea;
  border-left: 3px solid #ccc;
  padding: 0.5em 10px;
}

mark {
  background: #ffe28e!important
}

body {
  min-width: 300px;
}

.navbar {
  margin-bottom: 1em;
}

article {
  padding-bottom: 1em;
}

img {
  max-width: 100%;
}

/* https://uigradients.com/#Clouds */
body {
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

{{ with .Site.Params.contentTextColor }}
body {
  color: {{ . | safeCSS }};
}
{{ else }}
body {
  color: #212529;
}
{{ end }}

{{ with .Site.Params.contentLinkColor }}
a {
  color: {{ . | safeCSS }};
}
{{ else }}
a {
  color: #007bff;
}
{{ end }}

{{ with .Site.Params.contentLinkHoverColor }}
a:hover,
a:focus {
  color: {{ . | safeCSS }};
}
{{ else }}
a:hover,
a:focus {
  color: #0056b3;
}
{{ end }}

{{ with .Site.Params.contentPageWidth }}
.container {
  max-width: {{ . | safeCSS }};
}
{{ else }}
.container {
  max-width: 800px;
}
{{ end }}

{{ if eq .Site.Params.customCodeStyle true }}
pre {
  display: block;
  padding: 9.5px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #ead6d4;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit; 
  white-space: pre-wrap;
  background-color: transparent;
  border: none;
  border-radius: 0;
}

code {
  padding: 2px 4px;
  color: inherit; 
  background-color: #ead6d4;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: .9em;
}
{{ end }}

{{ if eq .Site.Params.customBlockquoteStyle true }}
blockquote,
.blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 1em;
  border-left: 5px solid #6c757d;
}
{{ end }}

.footer {
  text-align: center;
  color: #7d7d7d;
}

.footer a {
  color: inherit
}

.separator {
  border: 0;
  border-top: 3px dashed #000;
}

h1 {
  font-size: 2.2rem;
}

</style>
